{% load i18n %}
{% load staticfiles %}
<html>
<head>
<link href="css/prism.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>	
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="black nav-wrapper" role="navigation">
        <div class="nav-wrapper container">
         <a id="logo-container" href="#" class="brand-logo">The FRINGE Class</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">The Political Beat</a></li>
        <li><a href="#">The Sports</a></li>
        <li><a href="#">The Entertainment Section</a></li>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Essays & Long Form Series</a></li>
        
    
                
      </ul>

      <ul id="nav-mobile" class="side-nav">
         <li><a href="#">The Political Beat</a></li>
        <li><a href="#">The Sports</a></li>
        <li><a href="#">The Entertainment Section</a></li>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Essays & Long Form Series</a></li>
        
       
                
        

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<div>
{% block content %}
{% endblock  %}
</div>

	<footer class="page-footer teal">
    <div class="container">
      
        <div class="col l6 s12">
          <h5 class="white-text">The bipartisan publication for the optimistic cynic.</h5>
          <p class="grey-text text-lighten-4"></p>


        </div>

<br/>


       <div class="row"> 
        <div class="col s4">
          <h6 class="white-text align-left">About</h6>
        </div>
        <div class="col s4">
          <h6 class="white-text align-center">Contact</h6>
        </div>
        <div class="col s4">
          <h6 class="white-text align-right">Contribute</h6>
        </div>

        </div>
        
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Powered by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>, <a class="brown-text text-lighten-3" href="http://django-blog-zinnia.com/">Zinnia</a> and <a class="brown-text text-lighten-3" href="https://www.djangoproject.com/">django</a>.
      </div>
    </div>
  </footer>
  <script>
  $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
    </script>
  </body>
</html>

