{% load i18n %}
<div class="row {% if not entries %}no-{% endif %}entries-featured_politics">
  {% for entry in entries %}
        <div class="col s4">
          <div class="card large">
            <div class="card-image">
              <img src="{% if entry.image %}{{ entry.image.url }}{% endif %}" alt="{{ entry.title }}">
              <span class="card-title">{{ entry.title }}</span>
            </div>
            <div class="card-content">
              <p>{{ entry.excerpt|safe|linebreaks|truncatewords_html:30 }}</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
       {% endfor %}
</div>