{% extends "base/base.html" %}
{% load staticfiles %}
{% load zinnia %}
{% block content %}

{% get_featured_entries 4 template="zinnia/tags/entries_slider.html" %}
<br/>

<!--
<div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'images/hunter-s-thompson-california-1972-by-annie-leibovitz.png' %}"> 
        <div class="caption center-align">
          <h3 class="yellow-text" style="text-shadow: 0 0 3px #000000;">This is our big Tagline!</h3>
          <h5 class="yellow-text text-lighten-1" style="text-shadow: 0 0 3px #000000;">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'images/09.jpg' %}"> 
        <div class="caption left-align">
          <h3 class="yellow-text" style="text-shadow: 0 0 3px #000000;">Left Aligned Caption</h3>
          <h5 class="yellow-text text-lighten-1" style="text-shadow: 0 0 3px #000000;">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'images/hunter-s-thompson-leibovitz.jpg' %}"> 
        <div class="caption left-align">
          <h3 class="yellow-text" style="text-shadow: 0 0 3px #000000;">Right Aligned Caption</h3>
          <h5 class="yellow-text text-lighten-1" style="text-shadow: 0 0 3px #000000;">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'images/nixonhelicopter.0.jpeg' %}"> 
        <div class="caption right-align">
          <h3 class="yellow-text" style="text-shadow: 0 0 3px #000000;">This is our big Tagline!</h3>
          <h5 class="yellow-text text-lighten-1" style="text-shadow: 0 0 3px #000000;">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div -->
<div class="row {% if not entries %}no-{% endif %}entries-featured">
  {% for entry in entries %}
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% if entry.image %}{{ entry.image.url }}{% endif %}" alt="{{ entry.title }}">
              <span class="card-title">{{ entry.title }}</span>
            </div>
            <div class="card-content">
              <p>{{ entry.excerpt|safe|linebreaks|truncatewords_html:30 }}</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
       {% endfor %}
</div>

  <h2 class="left-align">THE POLITICAL BEAT</h2>
  {% get_featured_entries 3 template="homepage_latest_politics.html" %}


<h2 class="center-align">THE SPORTS</h2>
     <div class="row">
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/p0088_03.jpg' %}">
              <span class="card-title">Latest Story 1</span>
            </div>
            <div class="card-content">
              <p>I dynamically change content based on the latest entries added to the blogging application.</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
      

   
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/p0088_03.jpg' %}">
              <span class="card-title">Latest Story 2</span>
            </div>
            <div class="card-content">
              <p>I dynamically change content based on the latest entries added to the blogging application.</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
      
     
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/p0088_03.jpg' %}">
              <span class="card-title">Latest Story 3</span>
            </div>
            <div class="card-content">
              <p>I dynamically change content based on the latest entries added to the blogging application.</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
      </div>


      <h2 class="right-align">ENTERTAINMENT</h2>
     <div class="row">
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/p0088_03.jpg' %}">
              <span class="card-title">Latest Story 1</span>
            </div>
            <div class="card-content">
              <p>I dynamically change content based on the latest entries added to the blogging application.</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
      

   
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/p0088_03.jpg' %}">
              <span class="card-title">Latest Story 2</span>
            </div>
            <div class="card-content">
              <p>I dynamically change content based on the latest entries added to the blogging application.</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
      
     
        <div class="col s4">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/p0088_03.jpg' %}">
              <span class="card-title">Latest Story 3</span>
            </div>
            <div class="card-content">
              <p>I dynamically change content based on the latest entries added to the blogging application.</p>
            </div>
            <div class="card-action">
              <a href="#">Click to read more.</a>
            </div>
          </div>
        </div>
      </div>

      
      
     

      {% get_politics_entries 3 template="homepage_latest_politics.html" %}

      
<br/>
    

{% endblock %}
