{% load i18n %}
<ul class="{% if not entries %}no-{% endif %}entries-featured">
  {% for entry in entries %}
  <li>
    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
  </li>
  {% empty %}
  <li>
    {% trans "No entries yet." %}
  </li>
  {% endfor %}
</ul>

