{% load i18n %}
{% load staticfiles %}



{% if entries %}
<div class="slider">
    <ul class="slides">
    {% for entry in entries %}
      <li>
        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
          <img src="{% if entry.image %}{{ entry.image.url }}{% endif %}" alt="{{ entry.title }}" />
        </a> <!-- random image -->
        <div class="caption center-align">
          <h3 class="yellow-text" style="text-shadow: 0 0 3px #000000;"><a href="{{ entry.get_absolute_url }}" rel="bookmark"
               title="{{ entry.title }}">{{ entry.title }}</a></h3> 
          <h5 class="yellow-text text-lighten-1" style="text-shadow: 0 0 3px #000000;">{{ entry.excerpt|safe|linebreaks|truncatewords_html:30 }}</h5>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}